*.gz
*.diff
*.patch
*~
*.o
*-dep
*-stamp
\#*
.#*
/complexity
/opts.[ch]
/char-types.h
/sample*
/*.i
/.complex*rc
/.gdbinit
complexity.1
/complexity.aux
/complexity.cp
/complexity.cps
/complexity.dvi
/complexity.fn
/complexity.info
/complexity.ky
/complexity.log
/complexity.pg
/complexity.texi
/complexity.toc
/complexity.tp
/complexity.vr
/invoke-complexity.menu
/invoke-complexity.texi
/arg-nonnull.h
/c++defs.h
/warn-on-use.h
/lib
/m4
/release
autom4te.cache
/git-version-gen
/config.*
Makefile.in
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
